<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link rel="stylesheet" href="assets/style/style.css" />
		<title>About me</title>
	</head>
	<body>
		<div id="app">
			<header class="header">
				<nav class="nav">
					<div class="container nav__content">
						<a href="#" class="nav__logo">PROWEB</a>
						<ul class="nav__list">
							<li v-for="(link,index) in links">
								<a href="#" class="nav__list-link" :key="index">
									{{link.title}}
								</a>
							</li>
						</ul>
					</div>
				</nav>
				<div class="header__content">
					<h1 class="header__title">Добро пожаловать на мой сайт</h1>
					<a href="#" class="header__btn">Позвонить</a>
				</div>
			</header>
			<main class="main">
				<section class="about__me">
					<h1 class="about__me-title">Обо мне</h1>
					<div class="container about__me-content">
						<img src="assets/images/aboute-me.png" alt="" />
						<div class="about__me-text">
							<h2 class="about__me-subtitle">Зубенко Михаил Петрович</h2>
							<p class="about__me-descr">
								Я могу делать семейные портреты в студии, работать на показах
								мод, снимать моделей для рекламы или фотографировать на
								свадьбах. Отдельное направление -- съёмки предметов и еды,
								которые заказывают для рекламы или меню ресторанов. Я могу быть
								криминальным фотографом мест преступлений, охотником за
								знаменитостями или снимать диких животных для журналов о
								природе. Я востребованный специалист в новостных изданиях,
								работаю в паре с журналистом и могу оказаться где угодно: от
								гламурной вечеринки до места пожара, наводнения и даже
								вооруженного конфликта. Моя профессия будет востребована и в
								будущем, ведь 80% успеха фотографии -- это не качество техники,
								а профессионализм фотографа.
							</p>
						</div>
					</div>
				</section>
				<section class="todos">
					<h1 class="todos__main-title">Мои работы</h1>
					<div class="container todos__content">
						<div v-for="(todo,index) in todos" :key="index" class="todos__item">
							<img src="assets/images/Card-img.png" alt="" />
							<h2 class="todos__title">{{todo.title}}</h2>
							<p class="todos__descr">{{todo.descr}}</p>
							<a class="todos__btn">{{todo.button}}</a>
						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
				<div class="container footer__content">
					<h1 class="footer__title">Связаться со мной</h1>
					<div class="footer__socials">
						<a href="#"><img src="./assets/icons/akar-icons_facebook-fill.png" alt=""></a>
						<a href="#"><img src="./assets/icons/ph_instagram-logo-fill.png" alt=""></a>
						<a href="#"><img src="./assets/icons/akar-icons_telegram-fill.png" alt=""></a>
						<a href="#"><img src="./assets/icons/ic_baseline-email.png" alt=""></a>
						<a href="#"><img src="./assets/icons/dashicons_whatsapp.png" alt=""></a>
					</div>
				</div>
			</footer>
		</div>

		<script>
			const app = {
				data() {
					return {
						links: [
							{
								to: '!#',
								title: 'Обо мне',
							},
							{
								to: '!#',
								title: 'Мои работы',
							},
							{
								title: 'Контакты',
							},
						],
						todos: [
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
							{
								title: 'Чиланзар',
								descr:
									'Впервые фото было изобретено Жозефом Нисефором Ньепсом. Это произошло в 1822 году, Дагер же опубликовал свою работу только через 17 лет. Жозеф Ньепс смог получить первое негативное изображение в 1835 году',
								button: 'Посмотреть',
							},
						],
					}
				},
			}

			Vue.createApp(app).mount('#app')
		</script>
	</body>
</html>
